* {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: greenyellow;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-width: 375px;
    min-height: 7%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blue;
    height: 100%;
    width: 100%;
    position: relative;
  }

  header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
  }

  /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    /* position: absolute;
    bottom: 8px;
    left: 16px; */
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    /* position: absolute;
    top: 8px;
    right: 16px; */
    position: absolute;
    top: 3%;
    left: 95%;
    transform: translate(-50%, -50%);
  }
  
  /* Bottom right text */
  .bottom-right {
    /* position: absolute;
    bottom: 8px;
    right: 16px; */
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
 